#categorie-seul {
  background-color: var(--couleur-arriere-general);
  color: var(--couleur-general);
}

.bouton__categorie {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--couleur-bouton-carrousel);
  color: var(--couleur-blanc);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--couleur-bleu-pale);
  }

  &:focus {
    outline: none;
  }
}
