.entete__header {
  background-image: url("images/fille-anime.png");
  background-repeat: no-repeat;
  background-position: center 50%;
}

.entete__header span {
  display: block;
}

#entete {
  text-align: center;
}
