body {
    display: flex;
    flex-direction: column;
    font-family: "prompt", Arial, Helvetica, sans-serif;
}

.global {
    display:flex;
    justify-content: center;
    min-height: 30vh;
}

.global > section,
.global > header,
.global > footer{
// flex : grow shrink basis
    flex : 0 1 900px;
    // border : 1px solid #aaa;
    background-color : rgba(#000, .05 );
    padding : 5rem 1rem;
}



#entete {
    background-color: var(--couleur-arriere-entete);
    color : var(--couleur-entete);
}
#accueil {
    background-color: var(--couleur-arriere-accueil);
    color : var(--couleur-accueil);
}
#galerie {
    background-color: var(--couleur-arriere-galerie);
    color : var(--couleur-galerie);
}
#evenement {
    background-color: var(--couleur-arriere-evenement);
    color : var(--couleur-evenement);
}
#footer {
    background-color: var(--couleur-arriere-footer);
    color : var(--couleur-footer);
}