
/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {

    --couleur-arriere-entete: #77c2e5;
    --couleur-arriere-accueil: #c1d32d;
    --couleur-arriere-evenement: #dd8211;
    --couleur-arriere-galerie: #8cee99;
    --couleur-arriere-footer: #1d3f9f;
}



