/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {
  --couleur-arriere-entete: #b4b4b8;
  --couleur-arriere-accueil: #c7c8cc;
  --couleur-arriere-evenement: #e3e1d9;
  --couleur-arriere-galerie: #f2efe5;
  --couleur-arriere-footer: #d1cfcab2;
  --couleur-rouge: #e81416;
  --couleur-jaune: #faeb36;
  --couleur-orange: #ffa500;
  --couleur-vert: #79c314;
  --couleur-bleu: #487de7;
}
