.section__cours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.carte {
  padding: 0.2rem;
  border: 1px solid var(--couleur-noir);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(1010px / 4);
  background-color: hsl(var(--hu1), var(--s-couleur-arriere), 75%);
  box-shadow: var(--couleur-box-shadow) 0px 3px 8px;
}

.carte * {
  text-align: center;
}

@media screen and (min-width: 550px) {
  .carte {
    flex: 1 1 23%;
  }
}

.carte .post-categories {
  list-style-type: none;
  display: flex;
}