.section__destination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contenu {
  padding: 0.2rem;
  border: 2px solid var(--couleur-noir);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex: 1 0 calc(1010px / 4);
  // background-color: hsl(var(--hu1), var(--s-couleur-arriere), 83%); Vieux background
  box-shadow: var(--couleur-box-shadow) 0px 3px 8px;
  p {
    color: var(--couleur-noir);
  }
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.04); // Scale the element on hover
  }
}

.contenu * {
  text-align: center;
}

@media screen and (min-width: 550px) {
  .contenu {
    flex: 1 1 23%;
  }
}

.contenu .post-categories {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
}

.post-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0 0 0;
  border-top: 1px solid var(--couleur-noir);
  width: 100%;
}

.contenu-titre {
  background-color: var(--couleur-bleu-pale);
  border-radius: 30px;
  padding: 0.5rem;
  border: 1px solid var(--couleur-noir);
  color: var(--couleur-noir);
}

.contenu-suite {
  background-color: var(--couleur-bleu-pale);
  border-radius: 30px;
  padding: 0.5rem;
  border: 1px solid var(--couleur-noir);
  font-weight: bold;
  a {
    font-size: 1.5rem;
  }
}

.contenu-lien-article {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  border-top: 1px solid var(--couleur-noir);
  width: 100%;
  font-weight: bold;
  margin: 0;
  a {
    font-size: 1.5rem;
  }
}

.article-nombre {
  font-size: 1.5rem;
  font-weight: bold;
}
