// <nav class="menu-principal-container">
//   <ul id="menu-principal" class="menu"><li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost:8080/4w4-2024-gr2/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/">Communication</a></li>
//     <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost:8080/4w4-2024-gr2/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
//     <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost:8080/4w4-2024-gr2/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation en jeu</a></li>
//     <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-35"><a href="http://localhost:8080/4w4-2024-gr2/2020/10/07/description-du-cours-582-1m1-creation-video/">Création vidéo</a></li>
//     <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38"><a href="#accueil">Accueil</a></li>
//     <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="#galerie">Galerie</a></li>
//     <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="#evenement">Événement</a></li>
//   </ul>
// </nav>

.menu-principal-container {
  // nav
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 5;
  transition: transform 0.8s;

  @media screen and (min-width: 550px) {
    position: static;
  }
}

.menu-entete-container {
  // div
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--couleur-noir);
  width: 100%;
}

#menu {
  @media screen and (min-width: 550px) {
    border-bottom: 2px solid var(--couleur-noir);
    background: var(--degrader-rouge1);
    background: linear-gradient(
      0deg,
      var(--degrader-rouge1) 0%,
      var(--degrader-rouge2) 100%
    );
  }
}

#menu-principal {
  // ul
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 1rem;
  @media screen and (min-width: 550px) {
    flex-direction: row;
    justify-content: space-around;
  }
}
.menu-item {
  // li
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3.5rem;
  width: 8.5rem;
  border: 2px solid black;
  background-color: var(--couleur-blanc);
  border-radius: 50%;
}

#chk_burger {
  display: none;
}

#chk_burger:checked ~ .menu-principal-container {
  transform: translateX(0);
}

#burger {
  display: block;
  position: fixed;
  top: 0.7rem;
  left: 0.7rem;
  z-index: 6;
  @media screen and (min-width: 550px) {
    display: none;
  }
}
