a {
  color: var(--couleur-bleu);
  font-size: 1.1rem;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--couleur-lien-hover);
  }

  &:visited {
    color: var(--couleur-lien-visiter);
  }
}
