a {
  color: var(--couleur-mauve);
  font-size: 1.1rem;
  text-decoration: none;

  @media screen and (min-width: 1100px) {
    font-size: 1.6rem;
  }

  &:hover,
  &:focus {
    color: var(--couleur-lien-hover);
  }
}
