/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/

// Définition des variables de couleurs pour la palette de couleurs

$--clr-bleu-pale: hsl(220, 100%, 85%);
$--clr-bleu-leger: hsl(220, 100%, 60%);
$--clr-bleu-moyen: hsl(220, 100%, 30%);
$--clr-bleu-fonce: hsl(220, 100%, 15%);

$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger: hsl(40, 100%, 50%);
$--clr-orange-moyen: hsl(40, 100%, 30%);
$--clr-orange-fonce: hsl(40, 100%, 15%);

$--clr-rouge-pale: hsl(0, 78%, 49%);
$--clr-rouge-leger: hsl(0, 73%, 48%);
$--clr-rouge-moyen: hsl(0, 70%, 48%);
$--clr-rouge-fonce: hsl(0, 64%, 48%);

$--clr-vert-pale: hsl(70, 100%, 85%);
$--clr-vert-leger: hsl(70, 100%, 50%);
$--clr-vert-moyen: hsl(70, 100%, 30%);
$--clr-vert-fonce: hsl(70, 100%, 15%);

// Création du mapping des couleurs

$defaut: (
  primaire: (
    100: $--clr-bleu-pale,
    200: $--clr-bleu-leger,
    300: $--clr-bleu-moyen,
    400: $--clr-bleu-fonce,
  ),
  secondaire: (
    100: $--clr-orange-pale,
    200: $--clr-orange-leger,
    300: $--clr-orange-moyen,
    400: $--clr-orange-fonce,
  ),
  rouge: (
    100: $--clr-rouge-pale,
    200: $--clr-rouge-leger,
    300: $--clr-rouge-moyen,
    400: $--clr-rouge-fonce,
  ),
  vert: (
    100: $--clr-vert-pale,
    200: $--clr-vert-leger,
    300: $--clr-vert-moyen,
    400: $--clr-vert-fonce,
  ),
);

$agencement-couleur: (
  primaire: (
    $--clr-bleu-fonce,
    ($--clr-bleu-pale, $--clr-bleu-leger),
  ),
  secondaire: (
    $--clr-orange-fonce,
    $--clr-orange-pale,
  ),
  rouge: (
    $--clr-rouge-fonce,
    $--clr-rouge-pale,
  ),
  vert: (
    $--clr-vert-fonce,
    $--clr-vert-pale,
  ),
);

:root {
  --couleur-noir: black;
  --couleur-vert: #819171;
  --couleur-blanc: #fff;

  --degrader-rouge1: rgb(223, 27, 27);
  --degrader-rouge2: rgba(186, 48, 48, 1);

  --nb-element: 5;
  --increment-angle: calc(360 / var(--nb-element));
  //360 / 5 = 72
  --angle-initial: 360;

  --hu1: var(--angle-initial);
  --hu2: calc(var(--hu1) + var(--increment-angle));
  --hu3: calc(var(--hu2) + var(--increment-angle));
  --hu4: calc(var(--hu3) + var(--increment-angle));
  --hu5: calc(var(--hu4) + var(--increment-angle));

  /* couleur arriere plan */
  --s-couleur-arriere: 100%; // saturation
  --l-couleur-arriere: 50%; // luminosité
  /* couleur avant plant */
  --s-couleur: 100%; // saturation
  --l-couleur: 80%; // luminosité

  // Variables pour les arrières plans
  --hu2: calc(var(--hu1) + 180); //couleur complementaire
  --couleur-arriere-entete: hsl(var(--hu1), var(--s-couleur-arriere), 60%);
  --couleur-arriere-accueil: hsl(var(--hu1), var(--s-couleur-arriere), 65%);
  --couleur-arriere-evenement: hsl(var(--hu1), var(--s-couleur-arriere), 70%);
  --couleur-arriere-galerie: hsl(var(--hu1), var(--s-couleur-arriere), 75%);
  --couleur-arriere-footer: hsl(var(--hu1), var(--s-couleur-arriere), 80%);

  // Variables pour le texte
  --couleur-entete: hsl(var(--hu1), var(--s-couleur-arriere), 10%);
  --couleur-accueil: hsl(var(--hu1), var(--s-couleur-arriere), 15%);
  --couleur-evenement: hsl(var(--hu1), var(--s-couleur-arriere), 20%);
  --couleur-galerie: hsl(var(--hu1), var(--s-couleur-arriere), 25%);
  --couleur-footer: hsl(var(--hu1), var(--s-couleur-arriere), 30%);

  // Variables pour les liens
  --couleur-lien: #ead196;
  --couleur-lien-hover: #f3edc8;
  --couleur-lien-visited: #4caf50;

  --couleur-bouton-rouge: rgba(167, 0, 0, 1);
  --couleur-bouton-rouge-pale: rgba(255, 123, 123, 1);

  --couleur-box-shadow: rgba(0, 0, 0, 0.24);
}

#entete {
  --_couleur-arriere-vague: hsl(var(--hu1), var(--s-couleur-arriere), 65%);
}

#evenement {
  --_couleur-arriere-vague: hsl(var(--hu1), var(--s-couleur-arriere), 80%);
}
