.diagonal {
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.diagonal::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: skewY(-5deg);
  background-color: red;
}
