.vague {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.vague svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 48px;
  transform: rotateY(180deg);
}

// style="fill: var(--couleur-arriere-accueil)"
// style="fill: var(--couleur-arriere-footer)
.remplissage {
  fill: var(--_couleur-arriere-vague);
}
